@import '../index.css';

.footer {
  padding-top: 50px;
  padding-bottom: 30px;
  /* background: var(--third-color); */
  background: var(--third-color);
  position: relative;
  
}

.footer__logo img {
  width: calc(100% - 80%);
  margin-bottom: 5px;
}

.footer__logo h5 {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 15px;
}

.footer__logo p {
  font-size: 0.9rem;
  color: #333;
  line-height: 28px;
}

.footer__title {
  font-size: 1.1rem;
  color: var(--primary-color);
  font-weight: 600;
}

.delivery__time-item {
  background: transparent !important;
}

.delivery__time-item span {
  font-weight: 600;
  font-size: 1rem;
  color: var(--primary-color);
}

.delivery__time-item p {
  color: var(--primary-color);
}

.social__links span i {
  padding: 5px;
  color: var(--secondary-color);
  font-size: 1.5rem;
}

.copyright__text {
  font-size: 1rem;
  color: var(--secondary-color);
}


@media only screen and (max-width: 768px) {
  .footer__title {
    font-size: 0.8rem;
  }
  .delivery__time-item span {
    font-size: 0.8rem;
  }
  .delivery__time-item p {
    font-size: 0.7rem;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 576px) {
  .social__links {
    justify-content: center;
  }
  .social__links p {
    font-size: 0.8rem;
  }

  .copyright__text {
    text-align: center;
  }

  .social__links span {
    padding: 4px;
  }
  .social__links span a {
    font-size: 0.7rem;
  }
}


.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
  justify-content: space-between;
}