@import url('../index.css');
/* Container to center the loader */
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top, rgba(243, 223, 110, 0.326), rgba(33, 244, 255, 0.37));
    z-index: 9999; /* Ensure it's on top */
  }
  
  /* Basic loader styling */
  .loader {
    border: 60px solid #f3b37c;
    border-radius: 50%;
    border-top: 40px solid #d14127;
    width: 120px;
    height: 120px;
    animation: spin 3s reverse infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    90% { transform: rotate(360deg); }
  }
  